<md-content class="layout-padding" layout="column" ng-cloak>
	<div class="layout-padding">
		<form ng-submit="TheoreticalYieldController.submit()">
			<div ng-repeat="element in TheoreticalYieldController.formConfig">
				<label>{{ element.title }}</label>
				<md-select ng-model="TheoreticalYieldController.searchTexts[element.attr]">
					<md-optgroup label="{{ element.title }}">
						<md-option ng-repeat="item in element.list()"
								   ng-value="item.value">{{ item.display }}</md-option>
					</md-optgroup>
				</md-select>
			</div>
			<md-button type="submit">Build graphs</md-button>
		</form>
		<md-progress-linear ng-if="TheoreticalYieldController.isWaiting" md-mode="indeterminate"></md-progress-linear>
		<md-grid-list md-cols="2" md-row-height="350">
			<md-grid-tile ng-repeat='(metabolite, metaboliteData) in TheoreticalYieldController.data.metabolites'>
				<div style="width: 400px; height: 300px" id="plot_{{ metabolite }}"></div>
			</md-grid-tile>
		</md-grid-list>
	</div>
</md-content>

